.signUpBtn{
    padding: .7rem 2.3rem;
    font-family: var(--font-family);
    background: #FF4820;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    cursor: pointer;
    border: none;
}

.btnFormatting{
    font-size: 15px;
    padding: .5rem 1.5rem;
}